[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.108.0"
uvicorn = "0.25.0"
slowapi = "0.1.8"
sqlalchemy = "2.0.24"
alembic = "1.13.1"
sqlmodel = "0.0.14"
python-jose = {extras = ["cryptography"] }
cryptography = "41.0.7"
passlib = {extras = ["bcrypt"] }
bcrypt = "4.0.1"
python-multipart = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.10"

[scripts]
dev="uvicorn main:app --reload"
test="pytest"
utils="python utils.py"
migrate="alembic revision --autogenerate"
upgrade="alembic upgrade head"
